INSERT INTO job (job_id, title, description, experience, salary, due_date, created_on, n_openings, company_id) VALUES (1, 'Electrical Engineer', 'Morbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem.\n\nFusce consequat. Nulla nisl. Nunc nisl.', 3, 10000, '12/11/2022', '10/12/2022', 29, 'C1');
update locations set jobs=jobs||'1|' where location='Michigan';
update locations set jobs=jobs||'1|' where location='Georgia';
update skills set jobs=jobs||'1|' where skill='IOS Firewall';
update skills set jobs=jobs||'1|' where skill='NSI';
update skills set jobs=jobs||'1|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'1|' where skill='Horizontal incremental initiative';
INSERT INTO job (job_id, title, description, experience, salary, due_date, created_on, n_openings, company_id) VALUES (2, 'Junior Executive', 'Vestibulum ac est lacinia nisi venenatis tristique. Fusce congue, diam id ornare imperdiet, sapien urna pretium nisl, ut volutpat sapien arcu sed augue. Aliquam erat volutpat.\n\nIn congue. Etiam justo. Etiam pretium iaculis justo.\n\nIn hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.', 2, 15000, '1/25/2023', '12/10/2022', 4, 'C2');
update locations set jobs=jobs||'2|' where location='North Carolina';
update locations set jobs=jobs||'2|' where location='Florida';
update locations set jobs=jobs||'2|' where location='Washington';
update locations set jobs=jobs||'2|' where location='Texas';
update locations set jobs=jobs||'2|' where location='Texas';
update skills set jobs=jobs||'2|' where skill='Web Typography';
update skills set jobs=jobs||'2|' where skill='Euroclear';
update skills set jobs=jobs||'2|' where skill='Transportation';
update skills set jobs=jobs||'2|' where skill='RUP Methodologies';
update skills set jobs=jobs||'2|' where skill='DLP';
update skills set jobs=jobs||'2|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'2|' where skill='Advanced fresh-thinking hardware';
INSERT INTO job (job_id, title, description, experience, salary, due_date, created_on, n_openings, company_id) VALUES (3, 'Senior Financial Analyst', 'In congue. Etiam justo. Etiam pretium iaculis justo.\n\nIn hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.', 10, 20000, '9/12/2022', '8/6/2022', 6, 'C3');
update locations set jobs=jobs||'3|' where location='Texas';
update locations set jobs=jobs||'3|' where location='Texas';
update locations set jobs=jobs||'3|' where location='Delaware';
update locations set jobs=jobs||'3|' where location='Florida';
update locations set jobs=jobs||'3|' where location='Texas';
update skills set jobs=jobs||'3|' where skill='TDR';
update skills set jobs=jobs||'3|' where skill='Mystery Shopping';
update skills set jobs=jobs||'3|' where skill='PCR Primer Design';
update skills set jobs=jobs||'3|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'3|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'3|' where skill='Front-line attitude-oriented project';
update locations set jobs=jobs||'4|' where location='Michigan';
update locations set jobs=jobs||'4|' where location='Texas';
update locations set jobs=jobs||'4|' where location='Texas';
update locations set jobs=jobs||'4|' where location='Delaware';
update locations set jobs=jobs||'4|' where location='Washington';
update skills set jobs=jobs||'4|' where skill='DLP';
update skills set jobs=jobs||'4|' where skill='Web Typography';
update skills set jobs=jobs||'4|' where skill='PCR Primer Design';
update skills set jobs=jobs||'4|' where skill='Mystery Shopping';
update skills set jobs=jobs||'4|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'4|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'5|' where location='Texas';
update locations set jobs=jobs||'5|' where location='Georgia';
update locations set jobs=jobs||'5|' where location='North Carolina';
update skills set jobs=jobs||'5|' where skill='TDR';
update skills set jobs=jobs||'5|' where skill='Transportation';
update skills set jobs=jobs||'5|' where skill='NSI';
update skills set jobs=jobs||'5|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'5|' where skill='Team-oriented intangible forecast';
update locations set jobs=jobs||'6|' where location='Washington';
update locations set jobs=jobs||'6|' where location='Texas';
update locations set jobs=jobs||'6|' where location='Michigan';
update locations set jobs=jobs||'6|' where location='Texas';
update skills set jobs=jobs||'6|' where skill='IOS Firewall';
update skills set jobs=jobs||'6|' where skill='Euroclear';
update skills set jobs=jobs||'6|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'6|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'6|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'7|' where location='Texas';
update locations set jobs=jobs||'7|' where location='Delaware';
update skills set jobs=jobs||'7|' where skill='RUP Methodologies';
update skills set jobs=jobs||'7|' where skill='RUP Methodologies';
update skills set jobs=jobs||'7|' where skill='PCR Primer Design';
update skills set jobs=jobs||'7|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'7|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'7|' where skill='Diverse eco-centric system engine';
update locations set jobs=jobs||'8|' where location='Florida';
update locations set jobs=jobs||'8|' where location='North Carolina';
update locations set jobs=jobs||'8|' where location='Georgia';
update locations set jobs=jobs||'8|' where location='Texas';
update locations set jobs=jobs||'8|' where location='Florida';
update skills set jobs=jobs||'8|' where skill='Mystery Shopping';
update skills set jobs=jobs||'8|' where skill='Euroclear';
update skills set jobs=jobs||'8|' where skill='DLP';
update skills set jobs=jobs||'8|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'8|' where skill='Advanced fresh-thinking hardware';
update locations set jobs=jobs||'9|' where location='Texas';
update locations set jobs=jobs||'9|' where location='Texas';
update skills set jobs=jobs||'9|' where skill='Web Typography';
update skills set jobs=jobs||'9|' where skill='Transportation';
update skills set jobs=jobs||'9|' where skill='NSI';
update skills set jobs=jobs||'9|' where skill='TDR';
update skills set jobs=jobs||'9|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'9|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'9|' where skill='Advanced fresh-thinking hardware';
update locations set jobs=jobs||'10|' where location='Washington';
update locations set jobs=jobs||'10|' where location='North Carolina';
update skills set jobs=jobs||'10|' where skill='IOS Firewall';
update skills set jobs=jobs||'10|' where skill='Transportation';
update skills set jobs=jobs||'10|' where skill='DLP';
update skills set jobs=jobs||'10|' where skill='Mystery Shopping';
update skills set jobs=jobs||'10|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'10|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'11|' where location='Michigan';
update locations set jobs=jobs||'11|' where location='Texas';
update locations set jobs=jobs||'11|' where location='Texas';
update locations set jobs=jobs||'11|' where location='Delaware';
update skills set jobs=jobs||'11|' where skill='Web Typography';
update skills set jobs=jobs||'11|' where skill='RUP Methodologies';
update skills set jobs=jobs||'11|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'11|' where skill='Diverse eco-centric system engine';
update locations set jobs=jobs||'12|' where location='Georgia';
update locations set jobs=jobs||'12|' where location='Texas';
update locations set jobs=jobs||'12|' where location='Texas';
update locations set jobs=jobs||'12|' where location='Texas';
update skills set jobs=jobs||'12|' where skill='NSI';
update skills set jobs=jobs||'12|' where skill='Euroclear';
update skills set jobs=jobs||'12|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'12|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'13|' where location='Florida';
update locations set jobs=jobs||'13|' where location='Delaware';
update locations set jobs=jobs||'13|' where location='Michigan';
update locations set jobs=jobs||'13|' where location='Georgia';
update skills set jobs=jobs||'13|' where skill='PCR Primer Design';
update skills set jobs=jobs||'13|' where skill='TDR';
update skills set jobs=jobs||'13|' where skill='IOS Firewall';
update skills set jobs=jobs||'13|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'13|' where skill='Visionary fault-tolerant hardware';
update locations set jobs=jobs||'14|' where location='Washington';
update locations set jobs=jobs||'14|' where location='Texas';
update locations set jobs=jobs||'14|' where location='North Carolina';
update skills set jobs=jobs||'14|' where skill='RUP Methodologies';
update skills set jobs=jobs||'14|' where skill='DLP';
update skills set jobs=jobs||'14|' where skill='IOS Firewall';
update skills set jobs=jobs||'14|' where skill='Euroclear';
update skills set jobs=jobs||'14|' where skill='TDR';
update skills set jobs=jobs||'14|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'14|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'14|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'15|' where location='Florida';
update locations set jobs=jobs||'15|' where location='Texas';
update skills set jobs=jobs||'15|' where skill='Transportation';
update skills set jobs=jobs||'15|' where skill='Web Typography';
update skills set jobs=jobs||'15|' where skill='Mystery Shopping';
update skills set jobs=jobs||'15|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'15|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'15|' where skill='Horizontal incremental initiative';
update locations set jobs=jobs||'16|' where location='Texas';
update locations set jobs=jobs||'16|' where location='Texas';
update locations set jobs=jobs||'16|' where location='Georgia';
update skills set jobs=jobs||'16|' where skill='PCR Primer Design';
update skills set jobs=jobs||'16|' where skill='NSI';
update skills set jobs=jobs||'16|' where skill='Web Typography';
update skills set jobs=jobs||'16|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'16|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'17|' where location='Michigan';
update locations set jobs=jobs||'17|' where location='Delaware';
update skills set jobs=jobs||'17|' where skill='Euroclear';
update skills set jobs=jobs||'17|' where skill='RUP Methodologies';
update skills set jobs=jobs||'17|' where skill='Transportation';
update skills set jobs=jobs||'17|' where skill='TDR';
update skills set jobs=jobs||'17|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'17|' where skill='Diverse eco-centric system engine';
update locations set jobs=jobs||'18|' where location='Texas';
update locations set jobs=jobs||'18|' where location='Washington';
update locations set jobs=jobs||'18|' where location='North Carolina';
update skills set jobs=jobs||'18|' where skill='IOS Firewall';
update skills set jobs=jobs||'18|' where skill='Mystery Shopping';
update skills set jobs=jobs||'18|' where skill='NSI';
update skills set jobs=jobs||'18|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'18|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'18|' where skill='Triple-buffered solution-oriented leverage';
update locations set jobs=jobs||'19|' where location='Georgia';
update locations set jobs=jobs||'19|' where location='Florida';
update locations set jobs=jobs||'19|' where location='Texas';
update skills set jobs=jobs||'19|' where skill='DLP';
update skills set jobs=jobs||'19|' where skill='PCR Primer Design';
update skills set jobs=jobs||'19|' where skill='NSI';
update skills set jobs=jobs||'19|' where skill='RUP Methodologies';
update skills set jobs=jobs||'19|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'19|' where skill='Horizontal incremental initiative';
update locations set jobs=jobs||'20|' where location='Michigan';
update locations set jobs=jobs||'20|' where location='Texas';
update locations set jobs=jobs||'20|' where location='Washington';
update skills set jobs=jobs||'20|' where skill='Euroclear';
update skills set jobs=jobs||'20|' where skill='Web Typography';
update skills set jobs=jobs||'20|' where skill='PCR Primer Design';
update skills set jobs=jobs||'20|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'20|' where skill='Team-oriented intangible forecast';
update locations set jobs=jobs||'21|' where location='North Carolina';
update locations set jobs=jobs||'21|' where location='Texas';
update locations set jobs=jobs||'21|' where location='Delaware';
update locations set jobs=jobs||'21|' where location='Texas';
update skills set jobs=jobs||'21|' where skill='TDR';
update skills set jobs=jobs||'21|' where skill='Mystery Shopping';
update skills set jobs=jobs||'21|' where skill='Transportation';
update skills set jobs=jobs||'21|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'21|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'21|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'22|' where location='Michigan';
update locations set jobs=jobs||'22|' where location='Delaware';
update skills set jobs=jobs||'22|' where skill='DLP';
update skills set jobs=jobs||'22|' where skill='IOS Firewall';
update skills set jobs=jobs||'22|' where skill='Transportation';
update skills set jobs=jobs||'22|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'22|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'22|' where skill='Front-line attitude-oriented project';
update locations set jobs=jobs||'23|' where location='Washington';
update locations set jobs=jobs||'23|' where location='North Carolina';
update locations set jobs=jobs||'23|' where location='Texas';
update locations set jobs=jobs||'23|' where location='Florida';
update skills set jobs=jobs||'23|' where skill='TDR';
update skills set jobs=jobs||'23|' where skill='NSI';
update skills set jobs=jobs||'23|' where skill='PCR Primer Design';
update skills set jobs=jobs||'23|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'23|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'23|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'24|' where location='Texas';
update locations set jobs=jobs||'24|' where location='Texas';
update locations set jobs=jobs||'24|' where location='Texas';
update locations set jobs=jobs||'24|' where location='Georgia';
update skills set jobs=jobs||'24|' where skill='Web Typography';
update skills set jobs=jobs||'24|' where skill='DLP';
update skills set jobs=jobs||'24|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'24|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'24|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'25|' where location='Texas';
update locations set jobs=jobs||'25|' where location='Georgia';
update locations set jobs=jobs||'25|' where location='Texas';
update locations set jobs=jobs||'25|' where location='Michigan';
update skills set jobs=jobs||'25|' where skill='RUP Methodologies';
update skills set jobs=jobs||'25|' where skill='Mystery Shopping';
update skills set jobs=jobs||'25|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'25|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'25|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'26|' where location='Texas';
update locations set jobs=jobs||'26|' where location='Florida';
update locations set jobs=jobs||'26|' where location='Washington';
update locations set jobs=jobs||'26|' where location='Delaware';
update skills set jobs=jobs||'26|' where skill='IOS Firewall';
update skills set jobs=jobs||'26|' where skill='Euroclear';
update skills set jobs=jobs||'26|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'26|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'26|' where skill='Front-line attitude-oriented project';
update locations set jobs=jobs||'27|' where location='Texas';
update locations set jobs=jobs||'27|' where location='North Carolina';
update locations set jobs=jobs||'27|' where location='Delaware';
update skills set jobs=jobs||'27|' where skill='NSI';
update skills set jobs=jobs||'27|' where skill='PCR Primer Design';
update skills set jobs=jobs||'27|' where skill='IOS Firewall';
update skills set jobs=jobs||'27|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'27|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'27|' where skill='Team-oriented intangible forecast';
update locations set jobs=jobs||'28|' where location='North Carolina';
update locations set jobs=jobs||'28|' where location='Texas';
update skills set jobs=jobs||'28|' where skill='DLP';
update skills set jobs=jobs||'28|' where skill='Mystery Shopping';
update skills set jobs=jobs||'28|' where skill='RUP Methodologies';
update skills set jobs=jobs||'28|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'28|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'28|' where skill='Team-oriented intangible forecast';
update locations set jobs=jobs||'29|' where location='Texas';
update locations set jobs=jobs||'29|' where location='Washington';
update locations set jobs=jobs||'29|' where location='Texas';
update skills set jobs=jobs||'29|' where skill='Transportation';
update skills set jobs=jobs||'29|' where skill='Euroclear';
update skills set jobs=jobs||'29|' where skill='Web Typography';
update skills set jobs=jobs||'29|' where skill='TDR';
update skills set jobs=jobs||'29|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'29|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'29|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'30|' where location='Georgia';
update locations set jobs=jobs||'30|' where location='Michigan';
update locations set jobs=jobs||'30|' where location='Texas';
update skills set jobs=jobs||'30|' where skill='IOS Firewall';
update skills set jobs=jobs||'30|' where skill='DLP';
update skills set jobs=jobs||'30|' where skill='Web Typography';
update skills set jobs=jobs||'30|' where skill='TDR';
update skills set jobs=jobs||'30|' where skill='Mystery Shopping';
update skills set jobs=jobs||'30|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'30|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'30|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'31|' where location='Florida';
update locations set jobs=jobs||'31|' where location='Texas';
update locations set jobs=jobs||'31|' where location='Washington';
update locations set jobs=jobs||'31|' where location='Georgia';
update locations set jobs=jobs||'31|' where location='North Carolina';
update skills set jobs=jobs||'31|' where skill='NSI';
update skills set jobs=jobs||'31|' where skill='Transportation';
update skills set jobs=jobs||'31|' where skill='RUP Methodologies';
update skills set jobs=jobs||'31|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'31|' where skill='Horizontal incremental initiative';
update locations set jobs=jobs||'32|' where location='Texas';
update locations set jobs=jobs||'32|' where location='Michigan';
update skills set jobs=jobs||'32|' where skill='Euroclear';
update skills set jobs=jobs||'32|' where skill='PCR Primer Design';
update skills set jobs=jobs||'32|' where skill='NSI';
update skills set jobs=jobs||'32|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'32|' where skill='Visionary fault-tolerant hardware';
update locations set jobs=jobs||'33|' where location='Delaware';
update locations set jobs=jobs||'33|' where location='Texas';
update locations set jobs=jobs||'33|' where location='Florida';
update locations set jobs=jobs||'33|' where location='Texas';
update locations set jobs=jobs||'33|' where location='Washington';
update skills set jobs=jobs||'33|' where skill='PCR Primer Design';
update skills set jobs=jobs||'33|' where skill='Web Typography';
update skills set jobs=jobs||'33|' where skill='Euroclear';
update skills set jobs=jobs||'33|' where skill='DLP';
update skills set jobs=jobs||'33|' where skill='TDR';
update skills set jobs=jobs||'33|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'33|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'33|' where skill='Advanced fresh-thinking hardware';
update locations set jobs=jobs||'34|' where location='North Carolina';
update locations set jobs=jobs||'34|' where location='Texas';
update locations set jobs=jobs||'34|' where location='Delaware';
update skills set jobs=jobs||'34|' where skill='Transportation';
update skills set jobs=jobs||'34|' where skill='Mystery Shopping';
update skills set jobs=jobs||'34|' where skill='RUP Methodologies';
update skills set jobs=jobs||'34|' where skill='IOS Firewall';
update skills set jobs=jobs||'34|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'34|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'34|' where skill='Diverse eco-centric system engine';
update locations set jobs=jobs||'35|' where location='Michigan';
update locations set jobs=jobs||'35|' where location='Texas';
update skills set jobs=jobs||'35|' where skill='Mystery Shopping';
update skills set jobs=jobs||'35|' where skill='Euroclear';
update skills set jobs=jobs||'35|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'35|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'36|' where location='Texas';
update locations set jobs=jobs||'36|' where location='Texas';
update skills set jobs=jobs||'36|' where skill='DLP';
update skills set jobs=jobs||'36|' where skill='RUP Methodologies';
update skills set jobs=jobs||'36|' where skill='PCR Primer Design';
update skills set jobs=jobs||'36|' where skill='IOS Firewall';
update skills set jobs=jobs||'36|' where skill='Web Typography';
update skills set jobs=jobs||'36|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'36|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'37|' where location='Georgia';
update locations set jobs=jobs||'37|' where location='Florida';
update locations set jobs=jobs||'37|' where location='Michigan';
update locations set jobs=jobs||'37|' where location='Texas';
update locations set jobs=jobs||'37|' where location='Texas';
update skills set jobs=jobs||'37|' where skill='NSI';
update skills set jobs=jobs||'37|' where skill='Transportation';
update skills set jobs=jobs||'37|' where skill='TDR';
update skills set jobs=jobs||'37|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'37|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'37|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'38|' where location='Texas';
update locations set jobs=jobs||'38|' where location='North Carolina';
update skills set jobs=jobs||'38|' where skill='Web Typography';
update skills set jobs=jobs||'38|' where skill='Transportation';
update skills set jobs=jobs||'38|' where skill='IOS Firewall';
update skills set jobs=jobs||'38|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'38|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'39|' where location='Florida';
update locations set jobs=jobs||'39|' where location='Texas';
update skills set jobs=jobs||'39|' where skill='RUP Methodologies';
update skills set jobs=jobs||'39|' where skill='PCR Primer Design';
update skills set jobs=jobs||'39|' where skill='TDR';
update skills set jobs=jobs||'39|' where skill='DLP';
update skills set jobs=jobs||'39|' where skill='NSI';
update skills set jobs=jobs||'39|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'39|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'39|' where skill='Triple-buffered solution-oriented leverage';
update locations set jobs=jobs||'40|' where location='Georgia';
update locations set jobs=jobs||'40|' where location='Washington';
update locations set jobs=jobs||'40|' where location='Delaware';
update locations set jobs=jobs||'40|' where location='Delaware';
update skills set jobs=jobs||'40|' where skill='Euroclear';
update skills set jobs=jobs||'40|' where skill='Mystery Shopping';
update skills set jobs=jobs||'40|' where skill='DLP';
update skills set jobs=jobs||'40|' where skill='RUP Methodologies';
update skills set jobs=jobs||'40|' where skill='Web Typography';
update skills set jobs=jobs||'40|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'40|' where skill='Front-line attitude-oriented project';
update locations set jobs=jobs||'41|' where location='Texas';
update locations set jobs=jobs||'41|' where location='Michigan';
update locations set jobs=jobs||'41|' where location='Georgia';
update locations set jobs=jobs||'41|' where location='Washington';
update locations set jobs=jobs||'41|' where location='Texas';
update skills set jobs=jobs||'41|' where skill='Transportation';
update skills set jobs=jobs||'41|' where skill='Euroclear';
update skills set jobs=jobs||'41|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'41|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'41|' where skill='Diverse eco-centric system engine';
update locations set jobs=jobs||'42|' where location='Texas';
update locations set jobs=jobs||'42|' where location='Texas';
update skills set jobs=jobs||'42|' where skill='TDR';
update skills set jobs=jobs||'42|' where skill='Mystery Shopping';
update skills set jobs=jobs||'42|' where skill='PCR Primer Design';
update skills set jobs=jobs||'42|' where skill='NSI';
update skills set jobs=jobs||'42|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'42|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'43|' where location='North Carolina';
update locations set jobs=jobs||'43|' where location='Florida';
update locations set jobs=jobs||'43|' where location='Georgia';
update locations set jobs=jobs||'43|' where location='Texas';
update locations set jobs=jobs||'43|' where location='Texas';
update skills set jobs=jobs||'43|' where skill='IOS Firewall';
update skills set jobs=jobs||'43|' where skill='Transportation';
update skills set jobs=jobs||'43|' where skill='Web Typography';
update skills set jobs=jobs||'43|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'43|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'44|' where location='Texas';
update locations set jobs=jobs||'44|' where location='Delaware';
update skills set jobs=jobs||'44|' where skill='Euroclear';
update skills set jobs=jobs||'44|' where skill='Mystery Shopping';
update skills set jobs=jobs||'44|' where skill='NSI';
update skills set jobs=jobs||'44|' where skill='IOS Firewall';
update skills set jobs=jobs||'44|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'44|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'44|' where skill='Front-line attitude-oriented project';
update locations set jobs=jobs||'45|' where location='Florida';
update locations set jobs=jobs||'45|' where location='Texas';
update locations set jobs=jobs||'45|' where location='North Carolina';
update locations set jobs=jobs||'45|' where location='Washington';
update skills set jobs=jobs||'45|' where skill='RUP Methodologies';
update skills set jobs=jobs||'45|' where skill='PCR Primer Design';
update skills set jobs=jobs||'45|' where skill='DLP';
update skills set jobs=jobs||'45|' where skill='TDR';
update skills set jobs=jobs||'45|' where skill='Transportation';
update skills set jobs=jobs||'45|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'45|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'45|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'46|' where location='Michigan';
update locations set jobs=jobs||'46|' where location='Texas';
update locations set jobs=jobs||'46|' where location='Texas';
update locations set jobs=jobs||'46|' where location='Washington';
update locations set jobs=jobs||'46|' where location='Georgia';
update skills set jobs=jobs||'46|' where skill='TDR';
update skills set jobs=jobs||'46|' where skill='NSI';
update skills set jobs=jobs||'46|' where skill='Euroclear';
update skills set jobs=jobs||'46|' where skill='RUP Methodologies';
update skills set jobs=jobs||'46|' where skill='Web Typography';
update skills set jobs=jobs||'46|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'46|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'47|' where location='Delaware';
update locations set jobs=jobs||'47|' where location='Texas';
update locations set jobs=jobs||'47|' where location='Texas';
update skills set jobs=jobs||'47|' where skill='PCR Primer Design';
update skills set jobs=jobs||'47|' where skill='IOS Firewall';
update skills set jobs=jobs||'47|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'47|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'47|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'48|' where location='North Carolina';
update locations set jobs=jobs||'48|' where location='Michigan';
update locations set jobs=jobs||'48|' where location='Florida';
update locations set jobs=jobs||'48|' where location='Florida';
update locations set jobs=jobs||'48|' where location='Texas';
update skills set jobs=jobs||'48|' where skill='DLP';
update skills set jobs=jobs||'48|' where skill='Mystery Shopping';
update skills set jobs=jobs||'48|' where skill='NSI';
update skills set jobs=jobs||'48|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'48|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'48|' where skill='Diverse eco-centric system engine';
update locations set jobs=jobs||'49|' where location='Michigan';
update locations set jobs=jobs||'49|' where location='Texas';
update locations set jobs=jobs||'49|' where location='Georgia';
update locations set jobs=jobs||'49|' where location='Washington';
update locations set jobs=jobs||'49|' where location='Texas';
update skills set jobs=jobs||'49|' where skill='PCR Primer Design';
update skills set jobs=jobs||'49|' where skill='RUP Methodologies';
update skills set jobs=jobs||'49|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'49|' where skill='Horizontal incremental initiative';
update locations set jobs=jobs||'50|' where location='North Carolina';
update locations set jobs=jobs||'50|' where location='Delaware';
update locations set jobs=jobs||'50|' where location='Texas';
update skills set jobs=jobs||'50|' where skill='DLP';
update skills set jobs=jobs||'50|' where skill='TDR';
update skills set jobs=jobs||'50|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'50|' where skill='Triple-buffered solution-oriented leverage';
update locations set jobs=jobs||'51|' where location='Texas';
update locations set jobs=jobs||'51|' where location='Delaware';
update locations set jobs=jobs||'51|' where location='Florida';
update skills set jobs=jobs||'51|' where skill='Web Typography';
update skills set jobs=jobs||'51|' where skill='IOS Firewall';
update skills set jobs=jobs||'51|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'51|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'51|' where skill='Front-line attitude-oriented project';
update locations set jobs=jobs||'52|' where location='Texas';
update locations set jobs=jobs||'52|' where location='North Carolina';
update locations set jobs=jobs||'52|' where location='Washington';
update locations set jobs=jobs||'52|' where location='Georgia';
update locations set jobs=jobs||'52|' where location='Texas';
update skills set jobs=jobs||'52|' where skill='Transportation';
update skills set jobs=jobs||'52|' where skill='Mystery Shopping';
update skills set jobs=jobs||'52|' where skill='Euroclear';
update skills set jobs=jobs||'52|' where skill='DLP';
update skills set jobs=jobs||'52|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'52|' where skill='Advanced fresh-thinking hardware';
update locations set jobs=jobs||'53|' where location='Michigan';
update locations set jobs=jobs||'53|' where location='Texas';
update locations set jobs=jobs||'53|' where location='Georgia';
update skills set jobs=jobs||'53|' where skill='RUP Methodologies';
update skills set jobs=jobs||'53|' where skill='TDR';
update skills set jobs=jobs||'53|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'53|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'53|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'54|' where location='Texas';
update locations set jobs=jobs||'54|' where location='Michigan';
update locations set jobs=jobs||'54|' where location='Florida';
update locations set jobs=jobs||'54|' where location='Washington';
update skills set jobs=jobs||'54|' where skill='Transportation';
update skills set jobs=jobs||'54|' where skill='PCR Primer Design';
update skills set jobs=jobs||'54|' where skill='Mystery Shopping';
update skills set jobs=jobs||'54|' where skill='Euroclear';
update skills set jobs=jobs||'54|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'54|' where skill='Visionary fault-tolerant hardware';
update locations set jobs=jobs||'55|' where location='North Carolina';
update locations set jobs=jobs||'55|' where location='Texas';
update locations set jobs=jobs||'55|' where location='Texas';
update locations set jobs=jobs||'55|' where location='Texas';
update skills set jobs=jobs||'55|' where skill='NSI';
update skills set jobs=jobs||'55|' where skill='Web Typography';
update skills set jobs=jobs||'55|' where skill='IOS Firewall';
update skills set jobs=jobs||'55|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'55|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'56|' where location='Delaware';
update locations set jobs=jobs||'56|' where location='Texas';
update locations set jobs=jobs||'56|' where location='Michigan';
update locations set jobs=jobs||'56|' where location='North Carolina';
update skills set jobs=jobs||'56|' where skill='Web Typography';
update skills set jobs=jobs||'56|' where skill='Euroclear';
update skills set jobs=jobs||'56|' where skill='IOS Firewall';
update skills set jobs=jobs||'56|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'56|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'56|' where skill='Front-line attitude-oriented project';
update locations set jobs=jobs||'57|' where location='Florida';
update locations set jobs=jobs||'57|' where location='Texas';
update locations set jobs=jobs||'57|' where location='Texas';
update locations set jobs=jobs||'57|' where location='Texas';
update skills set jobs=jobs||'57|' where skill='TDR';
update skills set jobs=jobs||'57|' where skill='Transportation';
update skills set jobs=jobs||'57|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'57|' where skill='Horizontal incremental initiative';
update locations set jobs=jobs||'58|' where location='Washington';
update locations set jobs=jobs||'58|' where location='Delaware';
update locations set jobs=jobs||'58|' where location='Georgia';
update skills set jobs=jobs||'58|' where skill='RUP Methodologies';
update skills set jobs=jobs||'58|' where skill='Mystery Shopping';
update skills set jobs=jobs||'58|' where skill='DLP';
update skills set jobs=jobs||'58|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'58|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'58|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'59|' where location='Texas';
update locations set jobs=jobs||'59|' where location='Washington';
update skills set jobs=jobs||'59|' where skill='NSI';
update skills set jobs=jobs||'59|' where skill='PCR Primer Design';
update skills set jobs=jobs||'59|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'59|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'59|' where skill='Visionary fault-tolerant hardware';
update locations set jobs=jobs||'60|' where location='Georgia';
update locations set jobs=jobs||'60|' where location='North Carolina';
update locations set jobs=jobs||'60|' where location='Michigan';
update skills set jobs=jobs||'60|' where skill='Transportation';
update skills set jobs=jobs||'60|' where skill='DLP';
update skills set jobs=jobs||'60|' where skill='TDR';
update skills set jobs=jobs||'60|' where skill='IOS Firewall';
update skills set jobs=jobs||'60|' where skill='NSI';
update skills set jobs=jobs||'60|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'60|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'60|' where skill='Visionary fault-tolerant hardware';
update locations set jobs=jobs||'61|' where location='Texas';
update locations set jobs=jobs||'61|' where location='Delaware';
update locations set jobs=jobs||'61|' where location='Texas';
update locations set jobs=jobs||'61|' where location='Florida';
update locations set jobs=jobs||'61|' where location='Texas';
update skills set jobs=jobs||'61|' where skill='Web Typography';
update skills set jobs=jobs||'61|' where skill='Euroclear';
update skills set jobs=jobs||'61|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'61|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'61|' where skill='Advanced fresh-thinking hardware';
update locations set jobs=jobs||'62|' where location='North Carolina';
update locations set jobs=jobs||'62|' where location='Georgia';
update skills set jobs=jobs||'62|' where skill='RUP Methodologies';
update skills set jobs=jobs||'62|' where skill='Mystery Shopping';
update skills set jobs=jobs||'62|' where skill='PCR Primer Design';
update skills set jobs=jobs||'62|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'62|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'63|' where location='Texas';
update locations set jobs=jobs||'63|' where location='Florida';
update skills set jobs=jobs||'63|' where skill='Web Typography';
update skills set jobs=jobs||'63|' where skill='RUP Methodologies';
update skills set jobs=jobs||'63|' where skill='Transportation';
update skills set jobs=jobs||'63|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'63|' where skill='Team-oriented intangible forecast';
update locations set jobs=jobs||'64|' where location='Texas';
update locations set jobs=jobs||'64|' where location='Delaware';
update locations set jobs=jobs||'64|' where location='Washington';
update locations set jobs=jobs||'64|' where location='Texas';
update skills set jobs=jobs||'64|' where skill='PCR Primer Design';
update skills set jobs=jobs||'64|' where skill='TDR';
update skills set jobs=jobs||'64|' where skill='DLP';
update skills set jobs=jobs||'64|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'64|' where skill='Team-oriented intangible forecast';
update locations set jobs=jobs||'65|' where location='Texas';
update locations set jobs=jobs||'65|' where location='Michigan';
update locations set jobs=jobs||'65|' where location='Delaware';
update locations set jobs=jobs||'65|' where location='Texas';
update skills set jobs=jobs||'65|' where skill='IOS Firewall';
update skills set jobs=jobs||'65|' where skill='NSI';
update skills set jobs=jobs||'65|' where skill='Mystery Shopping';
update skills set jobs=jobs||'65|' where skill='Euroclear';
update skills set jobs=jobs||'65|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'65|' where skill='Diverse eco-centric system engine';
update locations set jobs=jobs||'66|' where location='Washington';
update locations set jobs=jobs||'66|' where location='Texas';
update skills set jobs=jobs||'66|' where skill='PCR Primer Design';
update skills set jobs=jobs||'66|' where skill='Transportation';
update skills set jobs=jobs||'66|' where skill='Web Typography';
update skills set jobs=jobs||'66|' where skill='NSI';
update skills set jobs=jobs||'66|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'66|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'67|' where location='North Carolina';
update locations set jobs=jobs||'67|' where location='Georgia';
update locations set jobs=jobs||'67|' where location='Florida';
update locations set jobs=jobs||'67|' where location='Michigan';
update skills set jobs=jobs||'67|' where skill='DLP';
update skills set jobs=jobs||'67|' where skill='Euroclear';
update skills set jobs=jobs||'67|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'67|' where skill='Triple-buffered solution-oriented leverage';
update locations set jobs=jobs||'68|' where location='Texas';
update locations set jobs=jobs||'68|' where location='Texas';
update locations set jobs=jobs||'68|' where location='Delaware';
update locations set jobs=jobs||'68|' where location='Washington';
update locations set jobs=jobs||'68|' where location='Florida';
update skills set jobs=jobs||'68|' where skill='RUP Methodologies';
update skills set jobs=jobs||'68|' where skill='IOS Firewall';
update skills set jobs=jobs||'68|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'68|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'68|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'69|' where location='Texas';
update locations set jobs=jobs||'69|' where location='North Carolina';
update locations set jobs=jobs||'69|' where location='Texas';
update skills set jobs=jobs||'69|' where skill='Mystery Shopping';
update skills set jobs=jobs||'69|' where skill='TDR';
update skills set jobs=jobs||'69|' where skill='Transportation';
update skills set jobs=jobs||'69|' where skill='TDR';
update skills set jobs=jobs||'69|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'69|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'69|' where skill='Advanced fresh-thinking hardware';
update locations set jobs=jobs||'70|' where location='Texas';
update locations set jobs=jobs||'70|' where location='Texas';
update locations set jobs=jobs||'70|' where location='Michigan';
update locations set jobs=jobs||'70|' where location='Georgia';
update skills set jobs=jobs||'70|' where skill='RUP Methodologies';
update skills set jobs=jobs||'70|' where skill='PCR Primer Design';
update skills set jobs=jobs||'70|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'70|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'70|' where skill='Diverse eco-centric system engine';
update locations set jobs=jobs||'71|' where location='North Carolina';
update locations set jobs=jobs||'71|' where location='Texas';
update locations set jobs=jobs||'71|' where location='Delaware';
update locations set jobs=jobs||'71|' where location='Michigan';
update skills set jobs=jobs||'71|' where skill='Euroclear';
update skills set jobs=jobs||'71|' where skill='IOS Firewall';
update skills set jobs=jobs||'71|' where skill='Mystery Shopping';
update skills set jobs=jobs||'71|' where skill='Web Typography';
update skills set jobs=jobs||'71|' where skill='DLP';
update skills set jobs=jobs||'71|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'71|' where skill='Horizontal incremental initiative';
update locations set jobs=jobs||'72|' where location='Texas';
update locations set jobs=jobs||'72|' where location='Washington';
update locations set jobs=jobs||'72|' where location='Florida';
update locations set jobs=jobs||'72|' where location='Texas';
update skills set jobs=jobs||'72|' where skill='NSI';
update skills set jobs=jobs||'72|' where skill='DLP';
update skills set jobs=jobs||'72|' where skill='Euroclear';
update skills set jobs=jobs||'72|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'72|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'72|' where skill='Advanced fresh-thinking hardware';
update locations set jobs=jobs||'73|' where location='Texas';
update locations set jobs=jobs||'73|' where location='Georgia';
update locations set jobs=jobs||'73|' where location='Washington';
update locations set jobs=jobs||'73|' where location='Texas';
update locations set jobs=jobs||'73|' where location='Texas';
update skills set jobs=jobs||'73|' where skill='RUP Methodologies';
update skills set jobs=jobs||'73|' where skill='NSI';
update skills set jobs=jobs||'73|' where skill='PCR Primer Design';
update skills set jobs=jobs||'73|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'73|' where skill='Horizontal incremental initiative';
update locations set jobs=jobs||'74|' where location='Michigan';
update locations set jobs=jobs||'74|' where location='Texas';
update locations set jobs=jobs||'74|' where location='Georgia';
update skills set jobs=jobs||'74|' where skill='Web Typography';
update skills set jobs=jobs||'74|' where skill='IOS Firewall';
update skills set jobs=jobs||'74|' where skill='Mystery Shopping';
update skills set jobs=jobs||'74|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'74|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'75|' where location='North Carolina';
update locations set jobs=jobs||'75|' where location='Texas';
update skills set jobs=jobs||'75|' where skill='Transportation';
update skills set jobs=jobs||'75|' where skill='TDR';
update skills set jobs=jobs||'75|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'75|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'75|' where skill='Triple-buffered solution-oriented leverage';
update locations set jobs=jobs||'76|' where location='Florida';
update locations set jobs=jobs||'76|' where location='Delaware';
update locations set jobs=jobs||'76|' where location='Georgia';
update locations set jobs=jobs||'76|' where location='Washington';
update locations set jobs=jobs||'76|' where location='Michigan';
update skills set jobs=jobs||'76|' where skill='TDR';
update skills set jobs=jobs||'76|' where skill='Transportation';
update skills set jobs=jobs||'76|' where skill='Euroclear';
update skills set jobs=jobs||'76|' where skill='RUP Methodologies';
update skills set jobs=jobs||'76|' where skill='IOS Firewall';
update skills set jobs=jobs||'76|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'76|' where skill='Diverse eco-centric system engine';
update locations set jobs=jobs||'77|' where location='Florida';
update locations set jobs=jobs||'77|' where location='Texas';
update skills set jobs=jobs||'77|' where skill='Mystery Shopping';
update skills set jobs=jobs||'77|' where skill='Web Typography';
update skills set jobs=jobs||'77|' where skill='NSI';
update skills set jobs=jobs||'77|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'77|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'78|' where location='Texas';
update locations set jobs=jobs||'78|' where location='Delaware';
update locations set jobs=jobs||'78|' where location='North Carolina';
update locations set jobs=jobs||'78|' where location='Texas';
update locations set jobs=jobs||'78|' where location='Texas';
update skills set jobs=jobs||'78|' where skill='DLP';
update skills set jobs=jobs||'78|' where skill='PCR Primer Design';
update skills set jobs=jobs||'78|' where skill='DLP';
update skills set jobs=jobs||'78|' where skill='Mystery Shopping';
update skills set jobs=jobs||'78|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'78|' where skill='Horizontal incremental initiative';
update locations set jobs=jobs||'79|' where location='Delaware';
update locations set jobs=jobs||'79|' where location='Texas';
update skills set jobs=jobs||'79|' where skill='NSI';
update skills set jobs=jobs||'79|' where skill='PCR Primer Design';
update skills set jobs=jobs||'79|' where skill='Web Typography';
update skills set jobs=jobs||'79|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'79|' where skill='Front-line attitude-oriented project';
update locations set jobs=jobs||'80|' where location='Texas';
update locations set jobs=jobs||'80|' where location='Georgia';
update locations set jobs=jobs||'80|' where location='Washington';
update locations set jobs=jobs||'80|' where location='Texas';
update skills set jobs=jobs||'80|' where skill='Euroclear';
update skills set jobs=jobs||'80|' where skill='RUP Methodologies';
update skills set jobs=jobs||'80|' where skill='TDR';
update skills set jobs=jobs||'80|' where skill='IOS Firewall';
update skills set jobs=jobs||'80|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'80|' where skill='Visionary fault-tolerant hardware';
update locations set jobs=jobs||'81|' where location='North Carolina';
update locations set jobs=jobs||'81|' where location='Michigan';
update locations set jobs=jobs||'81|' where location='Florida';
update locations set jobs=jobs||'81|' where location='Texas';
update skills set jobs=jobs||'81|' where skill='Transportation';
update skills set jobs=jobs||'81|' where skill='IOS Firewall';
update skills set jobs=jobs||'81|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'81|' where skill='Team-oriented intangible forecast';
update locations set jobs=jobs||'82|' where location='Washington';
update locations set jobs=jobs||'82|' where location='Texas';
update locations set jobs=jobs||'82|' where location='Texas';
update locations set jobs=jobs||'82|' where location='North Carolina';
update skills set jobs=jobs||'82|' where skill='DLP';
update skills set jobs=jobs||'82|' where skill='NSI';
update skills set jobs=jobs||'82|' where skill='Euroclear';
update skills set jobs=jobs||'82|' where skill='Mystery Shopping';
update skills set jobs=jobs||'82|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'82|' where skill='Advanced fresh-thinking hardware';
update locations set jobs=jobs||'83|' where location='Florida';
update locations set jobs=jobs||'83|' where location='Texas';
update locations set jobs=jobs||'83|' where location='Texas';
update skills set jobs=jobs||'83|' where skill='Transportation';
update skills set jobs=jobs||'83|' where skill='TDR';
update skills set jobs=jobs||'83|' where skill='Web Typography';
update skills set jobs=jobs||'83|' where skill='RUP Methodologies';
update skills set jobs=jobs||'83|' where skill='PCR Primer Design';
update skills set jobs=jobs||'83|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'83|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'83|' where skill='Diverse eco-centric system engine';
update locations set jobs=jobs||'84|' where location='Georgia';
update locations set jobs=jobs||'84|' where location='Michigan';
update locations set jobs=jobs||'84|' where location='Delaware';
update skills set jobs=jobs||'84|' where skill='TDR';
update skills set jobs=jobs||'84|' where skill='Transportation';
update skills set jobs=jobs||'84|' where skill='Web Typography';
update skills set jobs=jobs||'84|' where skill='RUP Methodologies';
update skills set jobs=jobs||'84|' where skill='Euroclear';
update skills set jobs=jobs||'84|' where skill='Face to face zero tolerance complexity';
update skills set jobs=jobs||'84|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'84|' where skill='Triple-buffered solution-oriented leverage';
update locations set jobs=jobs||'85|' where location='Texas';
update locations set jobs=jobs||'85|' where location='Texas';
update skills set jobs=jobs||'85|' where skill='Mystery Shopping';
update skills set jobs=jobs||'85|' where skill='NSI';
update skills set jobs=jobs||'85|' where skill='IOS Firewall';
update skills set jobs=jobs||'85|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'85|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'85|' where skill='Horizontal incremental initiative';
update locations set jobs=jobs||'86|' where location='Florida';
update locations set jobs=jobs||'86|' where location='Texas';
update locations set jobs=jobs||'86|' where location='Delaware';
update locations set jobs=jobs||'86|' where location='Texas';
update skills set jobs=jobs||'86|' where skill='PCR Primer Design';
update skills set jobs=jobs||'86|' where skill='DLP';
update skills set jobs=jobs||'86|' where skill='NSI';
update skills set jobs=jobs||'86|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'86|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'87|' where location='Georgia';
update locations set jobs=jobs||'87|' where location='Washington';
update skills set jobs=jobs||'87|' where skill='Euroclear';
update skills set jobs=jobs||'87|' where skill='PCR Primer Design';
update skills set jobs=jobs||'87|' where skill='Web Typography';
update skills set jobs=jobs||'87|' where skill='IOS Firewall';
update skills set jobs=jobs||'87|' where skill='TDR';
update skills set jobs=jobs||'87|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'87|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'87|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'88|' where location='Michigan';
update locations set jobs=jobs||'88|' where location='North Carolina';
update locations set jobs=jobs||'88|' where location='Georgia';
update locations set jobs=jobs||'88|' where location='Texas';
update skills set jobs=jobs||'88|' where skill='RUP Methodologies';
update skills set jobs=jobs||'88|' where skill='Mystery Shopping';
update skills set jobs=jobs||'88|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'88|' where skill='Advanced fresh-thinking hardware';
update locations set jobs=jobs||'89|' where location='Washington';
update locations set jobs=jobs||'89|' where location='Michigan';
update locations set jobs=jobs||'89|' where location='Texas';
update locations set jobs=jobs||'89|' where location='North Carolina';
update skills set jobs=jobs||'89|' where skill='Transportation';
update skills set jobs=jobs||'89|' where skill='DLP';
update skills set jobs=jobs||'89|' where skill='Mystery Shopping';
update skills set jobs=jobs||'89|' where skill='Web Typography';
update skills set jobs=jobs||'89|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'89|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'89|' where skill='Team-oriented intangible forecast';
update locations set jobs=jobs||'90|' where location='Florida';
update locations set jobs=jobs||'90|' where location='Delaware';
update skills set jobs=jobs||'90|' where skill='TDR';
update skills set jobs=jobs||'90|' where skill='RUP Methodologies';
update skills set jobs=jobs||'90|' where skill='Euroclear';
update skills set jobs=jobs||'90|' where skill='IOS Firewall';
update skills set jobs=jobs||'90|' where skill='PCR Primer Design';
update skills set jobs=jobs||'90|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'90|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'90|' where skill='Horizontal incremental initiative';
update locations set jobs=jobs||'91|' where location='Texas';
update locations set jobs=jobs||'91|' where location='Texas';
update locations set jobs=jobs||'91|' where location='Texas';
update locations set jobs=jobs||'91|' where location='Florida';
update locations set jobs=jobs||'91|' where location='North Carolina';
update skills set jobs=jobs||'91|' where skill='NSI';
update skills set jobs=jobs||'91|' where skill='DLP';
update skills set jobs=jobs||'91|' where skill='Transportation';
update skills set jobs=jobs||'91|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'91|' where skill='Balanced actuating standardization';
update skills set jobs=jobs||'91|' where skill='Advanced fresh-thinking hardware';
update locations set jobs=jobs||'92|' where location='Michigan';
update locations set jobs=jobs||'92|' where location='Georgia';
update locations set jobs=jobs||'92|' where location='Texas';
update skills set jobs=jobs||'92|' where skill='Web Typography';
update skills set jobs=jobs||'92|' where skill='Transportation';
update skills set jobs=jobs||'92|' where skill='PCR Primer Design';
update skills set jobs=jobs||'92|' where skill='NSI';
update skills set jobs=jobs||'92|' where skill='Mystery Shopping';
update skills set jobs=jobs||'92|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'92|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'92|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'93|' where location='Washington';
update locations set jobs=jobs||'93|' where location='Texas';
update locations set jobs=jobs||'93|' where location='Delaware';
update locations set jobs=jobs||'93|' where location='Texas';
update skills set jobs=jobs||'93|' where skill='DLP';
update skills set jobs=jobs||'93|' where skill='Euroclear';
update skills set jobs=jobs||'93|' where skill='IOS Firewall';
update skills set jobs=jobs||'93|' where skill='RUP Methodologies';
update skills set jobs=jobs||'93|' where skill='TDR';
update skills set jobs=jobs||'93|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'93|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'93|' where skill='Diverse eco-centric system engine';
update locations set jobs=jobs||'94|' where location='Delaware';
update locations set jobs=jobs||'94|' where location='Texas';
update locations set jobs=jobs||'94|' where location='Florida';
update locations set jobs=jobs||'94|' where location='Georgia';
update skills set jobs=jobs||'94|' where skill='Mystery Shopping';
update skills set jobs=jobs||'94|' where skill='NSI';
update skills set jobs=jobs||'94|' where skill='Transportation';
update skills set jobs=jobs||'94|' where skill='Euroclear';
update skills set jobs=jobs||'94|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'94|' where skill='Future-proofed leading edge structure';
update skills set jobs=jobs||'94|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'95|' where location='Michigan';
update locations set jobs=jobs||'95|' where location='Texas';
update locations set jobs=jobs||'95|' where location='Texas';
update locations set jobs=jobs||'95|' where location='Texas';
update locations set jobs=jobs||'95|' where location='North Carolina';
update skills set jobs=jobs||'95|' where skill='TDR';
update skills set jobs=jobs||'95|' where skill='DLP';
update skills set jobs=jobs||'95|' where skill='PCR Primer Design';
update skills set jobs=jobs||'95|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'95|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'95|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'96|' where location='Washington';
update locations set jobs=jobs||'96|' where location='Texas';
update locations set jobs=jobs||'96|' where location='Georgia';
update locations set jobs=jobs||'96|' where location='Delaware';
update skills set jobs=jobs||'96|' where skill='RUP Methodologies';
update skills set jobs=jobs||'96|' where skill='IOS Firewall';
update skills set jobs=jobs||'96|' where skill='Web Typography';
update skills set jobs=jobs||'96|' where skill='Web Typography';
update skills set jobs=jobs||'96|' where skill='TDR';
update skills set jobs=jobs||'96|' where skill='Triple-buffered solution-oriented leverage';
update skills set jobs=jobs||'96|' where skill='Visionary fault-tolerant hardware';
update skills set jobs=jobs||'96|' where skill='Triple-buffered solution-oriented leverage';
update locations set jobs=jobs||'97|' where location='Florida';
update locations set jobs=jobs||'97|' where location='Michigan';
update locations set jobs=jobs||'97|' where location='North Carolina';
update locations set jobs=jobs||'97|' where location='Texas';
update locations set jobs=jobs||'97|' where location='Washington';
update skills set jobs=jobs||'97|' where skill='Transportation';
update skills set jobs=jobs||'97|' where skill='DLP';
update skills set jobs=jobs||'97|' where skill='Horizontal incremental initiative';
update skills set jobs=jobs||'97|' where skill='Diverse eco-centric system engine';
update skills set jobs=jobs||'97|' where skill='Face to face zero tolerance complexity';
update locations set jobs=jobs||'98|' where location='Texas';
update locations set jobs=jobs||'98|' where location='Texas';
update locations set jobs=jobs||'98|' where location='North Carolina';
update locations set jobs=jobs||'98|' where location='Michigan';
update locations set jobs=jobs||'98|' where location='Delaware';
update skills set jobs=jobs||'98|' where skill='NSI';
update skills set jobs=jobs||'98|' where skill='Euroclear';
update skills set jobs=jobs||'98|' where skill='RUP Methodologies';
update skills set jobs=jobs||'98|' where skill='IOS Firewall';
update skills set jobs=jobs||'98|' where skill='Mystery Shopping';
update skills set jobs=jobs||'98|' where skill='Front-line attitude-oriented project';
update skills set jobs=jobs||'98|' where skill='Balanced actuating standardization';
update locations set jobs=jobs||'99|' where location='Texas';
update locations set jobs=jobs||'99|' where location='Washington';
update locations set jobs=jobs||'99|' where location='Texas';
update skills set jobs=jobs||'99|' where skill='PCR Primer Design';
update skills set jobs=jobs||'99|' where skill='RUP Methodologies';
update skills set jobs=jobs||'99|' where skill='DLP';
update skills set jobs=jobs||'99|' where skill='Web Typography';
update skills set jobs=jobs||'99|' where skill='NSI';
update skills set jobs=jobs||'99|' where skill='Advanced fresh-thinking hardware';
update skills set jobs=jobs||'99|' where skill='Future-proofed leading edge structure';
update locations set jobs=jobs||'100|' where location='Texas';
update locations set jobs=jobs||'100|' where location='Georgia';
update locations set jobs=jobs||'100|' where location='Florida';
update skills set jobs=jobs||'100|' where skill='Euroclear';
update skills set jobs=jobs||'100|' where skill='Transportation';
update skills set jobs=jobs||'100|' where skill='Team-oriented intangible forecast';
update skills set jobs=jobs||'100|' where skill='Team-oriented intangible forecast';
